<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/404.css">
    <title>404</title>
</head>

<body>
    <div class="container">
        <a class="gohomeBtn" href="/">Go Home</a>
    </div>
</body>

</html>