@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    /* border: 1px solid black; */
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #14213d;
    scroll-behavior: smooth;
}

.homeIntro {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 90%;
    margin: 0rem auto;
    margin-top: 120px;
    margin-bottom: 3.5rem;
    flex-wrap: wrap;
}

.homeIntro-img {
    flex: 1 1 250px;
}

.homeIntro-info {
    flex: 1 1 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.homeIntro-info>* {
    margin: 0rem 2rem;
}

.homeIntro-info h1 {
    font-size: 3rem;
    text-transform: capitalize;
}

.homeIntro-info p {
    margin-block: 3rem;
    font-size: 1.1rem;
}

.homeIntro-info button {
    padding: 10px 25px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: #40916c;
    color: white;
}

.homeIntro-info button:hover {
    background-color: black;
    transition: ease-in-out 200ms;
}




/* media queries */

@media screen and (max-width:500px) {
    .homeIntro-info {
        align-items: center;
        text-align: center;
    }
}