<link rel="stylesheet" href="assets/css/about_ctr.css">

<div class="aboutus" id="about">
    <div class="about-title">
        <h1>About us</h1>
        <h3>The way we work on our clients project</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis consequuntur reprehenderit amet
            unde provident dolor.</p>
    </div>
    <div class="about-cards">
        <div class="about-cards-card">
            <span>1</span>
            <h2>Collecting Resources</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid doloremque error inventore quae
                doloribus porro distinctio voluptatum, itaque optio animi totam eos odio quia similique veritatis,
                quam sapiente voluptas sunt!</p>
        </div>
        <div class="about-cards-card">
            <span>2</span>
            <h2>Discovering Ideas</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid doloremque error inventore quae
                doloribus porro distinctio voluptatum, itaque optio animi totam eos odio quia similique veritatis,
                quam sapiente voluptas sunt!</p>
        </div>
        <div class="about-cards-card">
            <span>3</span>
            <h2>Developing Products</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid doloremque error inventore quae
                doloribus porro distinctio voluptatum, itaque optio animi totam eos odio quia similique veritatis,
                quam sapiente voluptas sunt!</p>
        </div>
    </div>
</div>