<link rel="stylesheet" href="assets/css/contact_ctr.css">

<div class="contactus" id="contact">
    <div class="contactus-info">
        <h1>if any queries ! contact us</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate at ex vero doloribus, iusto accusantium
            provident accusamus, facilis tempore debitis magni. Esse, perspiciatis quia? Culpa quidem iste reprehenderit
            nobis eligendi.</p>
        <div class="contactus-info-icons">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-whatsapp"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
    </div>
    <div class="contactus-form">
        <form action="">
            <input type="text" placeholder="Name" required>
            <input type="email" name="" id="" placeholder="Email" required>
            <input type="text" placeholder="Subject" required>
            <textarea name="" id="" cols="30" rows="5" placeholder="Message"></textarea>
            <input type="submit" value="Submit">
        </form>
    </div>
</div>